.completeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.3rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7d8da;

  font-weight: 500;
}

.completeContainer span:first-child {
  font-size: 1rem;
}

.completeContainer span:last-child {
  font-size: 1.2rem;
}
