.container {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  /* overflow: hidden; */

  display: flex;
  flex-direction: column;

  margin-bottom: 3rem;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-content: center;
  margin-top: 4rem;
}
